body {
    font-family: Arial, sans-serif;
    padding: 10px 100px; /* 上下に10px、左右に20pxのパディングを追加 */
}

header {   
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    align-items: center; 
}

 nav {
    /* background-color: #f8f8f8;  */
    padding: 10px; 
    /* width: 200px;  */
    text-align: center;
    align-items: center; 
 } 

nav h2 {
    text-align: center; /* 見出しを中央揃えに */
    margin-top: 0; /* 上のマージンを無くす */
}

nav ul {
    list-style-type: none;
    padding: 10px;
    /* width: 200px; */
   
}

nav ul li {
    /* display: inline; */
    /* margin-right: 20px; */
   
}

nav ul li a {
    text-decoration: none;
    color: #333;
    /* display: block;  */
    padding: 10px;
    /* background-color: #e2e2e2; リンクの背景色を指定 */
}

nav ul li a:hover {
    color: blue;  
}

h2 {
    margin-top: 40px;  /* 上部のマージンを40pxに設定 */
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    
}


.gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%; /* 画面幅全体を使う */
}
figure {
    margin: 0 10px; /* 各figureの左右のマージン */
}
figcaption {
    text-align: center;
    font-style: italic;
}


.image-grid {
    display: flex;
    flex-wrap: wrap; /* コンテナの幅を超えたら折り返す */
    justify-content: space-between; /* 画像間に均等なスペースを配置 */
    align-items: flex-start; /* 行間に均等なスペースを配置 */
}

.image-grid figure {
    width: 40%; /* コンテナ幅の約半分を画像に割り当て */
    margin-bottom: 10px; /* 下にマージンを設定 */
}

.image-grid img {
    width: 100%; /* 画像をfigureの幅に合わせて拡大/縮小 */
    height: auto; /* 画像の高さを自動調整 */
}

.gallery-caption {
    width: 100%; /* キャプションの幅をコンテナ全体に */
    text-align: center; /* キャプションを中央揃え */
    font-style: italic; /* イタリック体で少し強調 */
    margin-top: 10px; /* 画像との間に適度なスペースを設定 */
}


.special-link {
    color: #333;  /* テキストの色を白に */
    background-color: #e2e2e2;  
    padding: 5px 10px;  /* パディングを追加 */
    text-decoration: none;  /* 下線を消す */
    border-radius: 5px;  /* ボーダーの角を丸くする */
    text-align: center;
    align-items: center; 
}

.special-link:hover {
    color: blue;  
    /* background-color: #0056b3;  ホバー時の背景色を濃い青に */
}



.github-link a {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.github-link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.github-link span {
    font-weight: bold;
}