body {
    font-family: Arial, sans-serif;
    padding: 10px 100px; /* 上下に10px、左右に20pxのパディングを追加 */
}

header {   
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    align-items: center; 
}

 nav {
    /* background-color: #f8f8f8;  */
    padding: 10px; 
    /* width: 200px;  */
    text-align: center;
    align-items: center; 
 } 

nav h2 {
    text-align: center; /* 見出しを中央揃えに */
    margin-top: 0; /* 上のマージンを無くす */
}

nav ul {
    list-style-type: none;
    padding: 10px;
    /* width: 200px; */
   
}

nav ul li {
    /* display: inline; */
    /* margin-right: 20px; */
   
}

nav ul li a {
    text-decoration: none;
    color: #333;
    /* display: block;  */
    padding: 10px;
    /* background-color: #e2e2e2; リンクの背景色を指定 */
}

nav ul li a:hover {
    color: blue;  
}

h2 {
    margin-top: 40px;  /* 上部のマージンを40pxに設定 */
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    
}


.gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%; /* 画面幅全体を使う */
}
figure {
    margin: 0 10px; /* 各figureの左右のマージン */
}
figcaption {
    text-align: center;
    font-style: italic;
}


.special-link {
    color: #333;  /* テキストの色を白に */
    background-color: #e2e2e2;  
    padding: 5px 10px;  /* パディングを追加 */
    text-decoration: none;  /* 下線を消す */
    border-radius: 5px;  /* ボーダーの角を丸くする */
    text-align: center;
    align-items: center; 
}

.special-link:hover {
    color: blue;  
    /* background-color: #0056b3;  ホバー時の背景色を濃い青に */
}
