body {
    font-family: Arial, sans-serif;
    padding: 10px 100px; /* 上下に10px、左右に20pxのパディングを追加 */
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #f8f8f8; /* 背景色を指定 */
    padding: 10px; /* パディングを追加 */
    width: 200px; /* ナビゲーションの幅を設定 */
}

nav h2 {
    text-align: center; /* 見出しを中央揃えに */
    margin-top: 0; /* 上のマージンを無くす */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* マージンを無くす */
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px; /* リンク間にマージンを追加 */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block; /* リンクをブロック要素にする */
    padding: 5px; /* リンクにパディングを追加 */
    background-color: #e2e2e2; /* リンクの背景色を指定 */
}

h2 {
    margin-top: 40px;  /* 上部のマージンを40pxに設定 */
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    
}


.gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%; /* 画面幅全体を使う */
}
figure {
    margin: 0 10px; /* 各figureの左右のマージン */
}
figcaption {
    text-align: center;
    font-style: italic;
}

